@font-face {
    font-family: "handelsonthree";
    src: url("../fonts/handelson-three-webfont.eot");
    src: url("../fonts/handelson-three-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/handelson-three-webfont.woff2") format("woff2"), url("../fonts/handelson-three-webfont.woff") format("woff"), url("../fonts/handelson-three-webfont.ttf") format("truetype"), url("../fonts/handelson-three-webfont.svg#handelsonthree") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "proximanova-softregular";
    src: url("../fonts/proximasoft-regular-webfont.eot");
    src: url("../fonts/proximasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximasoft-regular-webfont.woff2") format("woff2"), url("../fonts/proximasoft-regular-webfont.woff") format("woff"), url("../fonts/proximasoft-regular-webfont.ttf") format("truetype"), url("../fonts/proximasoft-regular-webfont.svg#proximanova-softregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "proximanova-softsemibold";
    src: url("../fonts/proximasoft-semibold-webfont.eot");
    src: url("../fonts/proximasoft-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximasoft-semibold-webfont.woff2") format("woff2"), url("../fonts/proximasoft-semibold-webfont.woff") format("woff"), url("../fonts/proximasoft-semibold-webfont.ttf") format("truetype"), url("../fonts/proximasoft-semibold-webfont.svg#proximanova-softsemibold") format("svg");
    font-weight: normal;
    font-style: normal
}


body {
  margin: 0;
  padding: 0;
  font-family: proximanova-softsemibold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.3;
  background: #27AAFC;
}

.page-title {
  color: black;
  text-align: center;
  font-size: 47px;
  font-weight: bold;
}

.container {
  width: 1140px;
  margin: 32px auto;
}

/* BLink */

    .blink_me {
      animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
      50% { opacity: 0; }
    }

/* Review left panel */

    .review-meta {

    }


.review-container {
  background: white;
  height: 480px;
  padding: 48px;
  position: relative;
  box-shadow: 12px 12px 0px rgba(0,0,0,0.125)
}

.review-byline {
  font-size: 21px;
  color: white;
  font-family: proximanova-softregular;
}

.review-biz {
  font-size: 44px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.review-avatar {
  width: 60px;
  display: none;
}

.review-stars {
  height: 40px;
  display: inline-block;
}

.review-text {
  font-size: 40px;
  margin-top: 16px;
}

.review-platform-text {
  display: inline-block;
  position: relative;
  top: -4px;
  color: #bbb;
  margin-left: 16px;
}

.review-no-response {
  position: absolute;
  bottom: 40px;
  left: 48px;
  display: none;
}

.review-no-response img {
  height: 120px;
}

/* Utility Classes*/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.color-light {
  color: #aaa;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: 80%;
}

.mbs {
  margin-bottom: 4px;
}

.mbm {
  margin-bottom: 8px;
}

.inline-block {
  display: inline-block;
}
